<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Required for AdMob -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".TikTapRemoteApplication"
        android:allowBackup="true"
        android:backupAgent=".TikTapBackupAgent"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TikTapRemote"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9083635854272688~5164285660"/>

        <activity android:name=".MainActivity" android:exported="true" android:label="@string/app_name" android:theme="@style/Theme.TikTapRemote">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tiktapremote" android:host="profile" />
            </intent-filter>
        </activity>

        <activity android:name=".OverlayActivity" android:theme="@style/Theme.TikTapRemote.Transparent" android:exported="false" />

        <activity
            android:name=".IndicatorActivity"
            android:theme="@style/Theme.TikTapRemote.Transparent"
            android:exported="false"
            android:taskAffinity=""
            android:excludeFromRecents="true" />

        <receiver android:name=".ServiceToggleReceiver" android:exported="false" />

        <service
            android:name=".service.TikTapAccessibilityService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service_config" />
        </service>

    </application>

</manifest>